POSTGRES_PASSWORD=

TNLA_PORT=8888
TNLA_BACKEND_VERSION=1.0.0
TNLA_FRONTEND_VERSION=1.0.0
# managed volume のままにするか、録画先の絶対パスを書く
RECORDED_DIRECTORY=recorded-data

# Mirakurun 接続先などは config/config.yml に設定する。
